<h1>Welcome to Proper Access Capstone Team's web app</h1>
<p>Here you will find our developed apps for the Event Reporter and Network Recommender</p>
<br />
<section>
  <div>
    <h2>Event Reporter</h2>
    <p><b>Function:</b>&nbsp; sends an http request to receive the parsed JSON info taken from the UniFi Web Api.
    <br />You can select the specific event to display from the dropdown and it will display a table with data for that specific event.
    <br />The table  displays the time of occurance and the message of the event that occured.
    <br />There will be an option view all the data returned by the web api for that specific event in the advanced area</p>
  </div>
</section>
